<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject Update voor jouw {{var store.getFrontendName()}} creditnota @-->
<!--@vars {
"var comment":"Credit Memo Comment",
"var creditmemo.increment_id":"Credit Memo Id",
"var this.getUrl($store, 'customer/account/')":"Customer Account URL",
"var order.getCustomerName()":"Customer Name",
"var order.increment_id":"Order Id",
"var order.getStatusLabel()":"Order Status"
} @-->
{{template config_path="design/email/header_template"}}

<table>
    <tr class="email-intro">
        <td>
            <p class="greeting">{{trans "%name," name=$order.getCustomerName()}}</p>
            <p>
                {{trans
                    "Jouw bestelling #%increment_id werd geupdate met de status <strong>%order_status</strong>."

                    increment_id=$order.increment_id
                    order_status=$order.getStatusLabel()
                |raw}}
            </p>
            <p>{{trans 'Je kan de status van je bestelling bekijken <a href="%account_url">door in te loggen op de website</a>.' account_url=$this.getUrl($store,'customer/account/',[_nosid:1]) |raw}}</p>
            <p>
                {{trans 'Als je vragen hebt over je bestelling, dan kan je mij contacteren via <a href="mailto:%store_email">%store_email</a>' store_email=$store_email |raw}}{{depend store_phone}} {{trans 'of mij bereiken op nummer <a href="tel:%store_phone">%store_phone</a>' store_phone=$store_phone |raw}}{{/depend}}.
            </p>
        </td>
    </tr>
    <tr class="email-information">
        <td>
            {{depend comment}}
            <table class="message-info">
                <tr>
                    <td>
                        {{var comment|escape|nl2br}}
                    </td>
                </tr>
            </table>
            {{/depend}}
        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}
