/* Colors for the supernapie theme */

@supernapie-base-green: #27D2D7;
@supernapie-deep-green: #177D7F;
@supernapie-dark-green: #0C3E40;

@supernapie-base-pink: #FCE0C8;
@supernapie-lite-pink: #FFEFDC;

@supernapie-base-blue: #68A4AF;
@supernapie-lite-blue: #C8F3FC;

@supernapie-base-grey: #59504F;

@supernapie-base-white: #FFFFFF;

/* Apply colors to different var */

@page__background-color: @supernapie-base-pink;
@sidebar__background-color: @supernapie-lite-pink;
@primary__color: @supernapie-base-grey;
@border-color__base: @color-gray80;

@link__color: @supernapie-base-blue;
@link__hover__color: @supernapie-lite-blue;

//  Buttons
@button__color: @color-gray20;
@button__background: @color-gray80;
@button__border: 1px solid @border-color__base;

//  Primary button
@button-primary__background: @supernapie-base-blue;
@button-primary__border: 1px solid @supernapie-base-blue;
@button-primary__color: @supernapie-base-white;
@button-primary__hover__background: darken(@supernapie-base-blue, 5%);
@button-primary__hover__border: 1px solid darken(@supernapie-base-blue, 5%);
@button-primary__hover__color: @supernapie-base-white;

//  Navigation
@navigation-level0-item__color: @supernapie-lite-pink;
@submenu-item__color: @supernapie-lite-pink;

@navigation__background: @supernapie-lite-pink;
@navigation-desktop-level0-item__color: @supernapie-lite-pink;
@navigation-desktop-level0-item__hover__color: lighten(@supernapie-lite-pink, 10%);
@navigation-desktop-level0-item__active__color: @navigation-desktop-level0-item__color;

//  Tabs
@tab-control__background-color: @page__background-color;

//  Forms
@form-element-input__background: @supernapie-base-white;
@form-element-input-placeholder__color: lighten(@supernapie-base-grey, 10%);

//  Header icons
@header-icons-color: @supernapie-base-blue;
@header-icons-color-hover: @supernapie-lite-blue;
