/**
 * Copyright © 2015Webwolk. All rights reserved.
 * See COPYING.txt for license details.
 */

//
//  Supernapie css customisation
//  _____________________________________________

//
//  Fonts
//  _____________________________________________

& when (@media-common = true) {

    // Supernapie likes his fonts smooth
    * {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    // headings
    h1, h2, h3, h4, h5, h6 {
        font-weight: 400;
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    h1 {
        .lib-css(margin-bottom, @heading__margin-bottom__base);
    }
}




