/**
 * Copyright © 2015 Webwolk. All rights reserved.
 * See LICENSE for license details.
 */

//
//  Supernapie css customisation
//  _____________________________________________

//
//  Fonts
//  _____________________________________________

& when (@media-common = true) {

    // Supernapie likes his fonts smooth
    * {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    // headings
    h1, h2, h3, h4, h5, h6 {
        font-weight: 400;
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    h1 {
        .lib-css(margin-bottom, @heading__margin-bottom__base);
    }
}

//
//  Icons
//  _____________________________________________

& when (@media-common = true) {

    // cart
    .minicart-wrapper .action.showcart:before,
    .minicart-wrapper .action.showcart.active:before {
        content: "a";
        font-family: 'supernapie';
        font-size: 24px;
    }

    // newsletter
    .block.newsletter .field .control { position: relative; }
    .block.newsletter .field .control:before {
        content: "b";
        font-family: 'supernapie';
        font-size: 20px;
        position: absolute;
        left: 9px;
    }

    // hamburger menu
    .nav-toggle:before {
        content: "c";
        font-family: 'supernapie';
        font-size: 34px;
    }
}

//
//  Footer
//  _____________________________________________

& when (@media-common = true) {

    .block.newsletter input {
        height: 34px;
    }

    .footer.content {
        border-top: 0;
    }

    .page-footer {
        @_shadow: inset 0 15px 20px -10px rgba(50, 50, 50, 0.5);
        .lib-css(box-shadow, @_shadow, 1);
    }

    .footer small.copyright {
        font-size: 13px;
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

    .block.newsletter {
        width: 100%;
        max-width: 360px;
    }

    .footer small.copyright {
        text-align: right;
    }
}

//
//  header panel
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

    .page-header {

        .header.panel {
            padding-top: 7px;
            padding-bottom: 7px;
        }

        .panel.wrapper {
            border-bottom: 0;
        }
    }

    .header.panel > .header.links > li {
        font-size: 14px;

        &.welcome {
            line-height: inherit;

            span {
                line-height: 1.4;
            }
        }
    }
}

//
// logo and header.content
// ______________________________________________

& when (@media-common = true) {

    .logo {
        position: relative;
        z-index: 5;
        float: none;
        max-width: 70%;
        width: 70%;
        text-align: center;
        margin: 0 auto;
        color: @link__color;
    }

    .header.content {
        padding-top: 15px;
        padding-bottom: 10px;
    }

    .minicart-wrapper {
        margin-top: -3px;
    }

    .nav-toggle {
        top: 1px;
    }

    .page-header {
        border-bottom: 0;
        background: @sidebar__background-color;
        @_shadow: 0 0 5px 0 rgba(50, 50, 50, .75);
        .lib-css(box-shadow, @_shadow, 1);
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

    .page-header {
        background: transparent none;
        @_shadow: none;
        .lib-css(box-shadow, @_shadow, 1);
    }

    .nav-sections {
        @_shadow: 0 3px 5px 0 rgba(50, 50, 50, 0.4);
        .lib-css(box-shadow, @_shadow, 1);
    }

    .logo {
        text-align: left;
        margin: 0;
    }

    h1.logo {
        font-size: 4.2rem;
    }

    .header.content {
        padding: 20px;
    }
}

//
//  Navigation
//  _____________________________________________

& when (@media-common = true) {

    .navigation {

        li.level1, li.level2 {
            margin: 0;
        }
    }

    .block-collapsible-nav {

        .item {
            margin: 0;
        }
    }

}
