/**
 * Copyright © 2015 Webwolk. All rights reserved.
 * See LICENSE for license details.
 */

//
//  Supernapie css customisation
//  _____________________________________________

//
//  Fonts
//  _____________________________________________

& when (@media-common = true) {

    // Supernapie likes his fonts smooth
    * {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    // headings
    h1, h2, h3, h4, h5, h6 {
        font-weight: 400;
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    h1 {
        .lib-css(margin-bottom, @heading__margin-bottom__base);
    }
}

//
//  Icons
//  _____________________________________________

& when (@media-common = true) {

    // cart
    .minicart-wrapper .action.showcart:before,
    .minicart-wrapper .action.showcart.active:before {
        content: "a";
        font-family: 'supernapie';
        font-size: 24px;
    }

    // newsletter
    .block.newsletter .field .control { position: relative; }
    .block.newsletter .field .control:before {
        content: "b";
        font-family: 'supernapie';
        font-size: 20px;
        position: absolute;
        left: 9px;
    }

    // hamburger menu
    .nav-toggle:before {
        content: "c";
        font-family: 'supernapie';
        font-size: 34px;
    }
}

//
//  Footer
//  _____________________________________________

& when (@media-common = true) {

    .block.newsletter input {
        height: 34px;
    }
}

//
//  header panel
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

    .page-header {

        .header.panel {
            padding-top: 7px;
            padding-bottom: 7px;
        }

        .panel.wrapper {
            border-bottom: 0;
        }
    }

    .header.panel > .header.links > li {
        font-size: 14px;

        &.welcome {
            line-height: inherit;

            span {
                line-height: 1.4;
            }
        }
    }
}

//
//  Navigation
//  _____________________________________________

& when (@media-common = true) {

    .navigation {

        li.level1, li.level2 {
            margin: 0;
        }
    }

    .block-collapsible-nav {

        .item {
            margin: 0;
        }
    }

}
