<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div>
    <!-- ko ifnot: accountCreated -->
    <p data-bind="i18n: 'Je kan je bestelling volgen door een account aan te maken.'"></p>
    <p><span data-bind="i18n: 'E-mailadres'"></span>: <span data-bind="text: getEmailAddress()"></span></p>
    <form method="post" data-bind="submit: createAccount">
        <input type="submit" class="action primary" data-bind="value: $t('Maak een account aan'), disable: creationStarted" />
    </form>
    <!-- /ko -->
    <!-- ko if: accountCreated -->
    <p data-bind="i18n: 'Er werd een e-mail naar je e-mailadres gestuurd met verdere instucties.'"></p>
    <!-- /ko -->
</div>
